* {
  font-family: fantasy;
}

#page1 button,
#page2 button {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}
#page2 {
  display: none;
  flex-direction: wrap column;
}

.info {
  margin: auto;
  width: 50%;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

body {
  text-align: center;
  background-color: azure;
}

.deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  grid-gap: 20px;
  justify-content: center;
  margin: auto;
  padding: 20px;
  border-radius: 1vw;
  background-color: grey;
  width: 55%;
  perspective: 1200px;
  border: 10px double black;
}

.card {
  display: grid;
  width: 140px;
  height: 240px;
  margin: 2%;
  border-radius: 4px;
  box-shadow: 1px 8px 8px#000000e1;
  transition: 0.6s ease;
}

.card .card-front,
.card .card-back {
  grid-area: 1/1;
  backface-visibility: hidden;
}
.card-back {
  pointer-events: none;
}
.card-front {
  transform-style: preserve-3d;
  transition: 0.6s ease;
  transform: rotateY(180deg);
}

img {
  border-radius: 4px;
  width: 140px;
  height: 240px;
}

.level {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  margin: auto;
  background-color: #175dac;
  border-radius: 30px;
}

.level .button,
.level p {
  width: 100%;
}

.level p {
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-radius: 100px;
}

.button {
  background-color: #175dac;
  border-radius: 50%;
}
