* {
  font-family: fantasy;
}

.startScreen button {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
}

.hidden {
  display: none;
}

.screen {
  display: block;
}

body {
  text-align: center;
  background-color: azure;
}

.deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  padding: 20px;
  border-radius: 1vw;
  background-color: grey;
  width: 40%;
}

.card {
  width: 140px;
  height: 240px;
  margin: 1%;
  border-radius: 4px;
  box-shadow: 1px 8px 8px#000000e1;
  transition: 0.6s ease;
}

.card-front {
  background-color: rgb(199, 148, 148);
  transform-style: preserve-3d;
  transition: 0.6s ease;
  transform: rotateY(180deg);
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

img {
  width: 140px;
  height: 240px;
}

#mode1,
#mode2 {
  display: none;
}
